<!DOCTYPE html>
<html lang="fr" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .slide-up {
            transform: translateY(100%);
            transition: transform 0.5s;
        }
        .slide-up.show {
            transform: translateY(0);
        }
    </style>

</head>
<body class="bg-white dark:bg-gray-900 flex justify-center items-center h-screen">
<div class="bg-gray-100 dark:bg-gray-800 rounded-lg shadow-lg p-6 w-full max-w-lg">
    <div class="flex items-center mb-4">
        <img src="{{ .profilePicture }}" alt="Photo de profil" class="h-20 w-20 rounded-full border-2 dark:border-green-400 border-green-500">
        <div class="ml-4">
            <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">{{ .name }}</h2>
            <p class="text-gray-500 dark:text-gray-400">{{ .username }}</p>
        </div>
    </div>

    <div class="border-t border-gray-300 dark:border-gray-600 pt-4">
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Nom d'affichage</label>
            <div class="flex justify-between items-center">
                <p id="name" class="text-gray-800 dark:text-gray-200">{{ .name }}</p>
                <button id="name-btn" class="text-indigo-500 dark:text-indigo-400 hover:underline" onclick="editProperty('name')">Modifier</button>
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Prénom</label>
            <div class="flex justify-between items-center">
                <p id="givenName" class="text-gray-800 dark:text-gray-200">{{ .givenName }}</p>
                <button id="givenName-btn" class="text-indigo-500 dark:text-indigo-400 hover:underline" onclick="editProperty('givenName')">Modifier</button>
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Nom de famille</label>
            <div class="flex justify-between items-center">
                <p id="familyName" class="text-gray-800 dark:text-gray-200">{{ .familyName }}</p>
                <button id="familyName-btn" class="text-indigo-500 dark:text-indigo-400 hover:underline" onclick="editProperty('familyName')">Modifier</button>
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">E-mail</label>
            <div class="flex justify-between items-center">
                <p class="text-gray-800 dark:text-gray-200">{{ .email }}</p>
            </div>
        </div>

        <!--<div class="flex justify-between mt-6">
            <button class="bg-red-500 dark:bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-400 dark:hover:bg-red-500">Supprimer</button>
            <button class="bg-indigo-500 dark:bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-400 dark:hover:bg-indigo-500">Enregistrer</button>
        </div>-->
    </div>
</div>
<div id="popup" class="hidden fixed bottom-0 left-0 w-full bg-gray-100 text-black p-4 flex justify-between items-center">
    <span>Attention! Informations non enregistrés</span>
    <div>
        <button id="buttonA" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
        <button id="buttonB" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Réinitialiser</button>
    </div>
</div>

</body>
<script>
    let popupOpened = false
    attributs = {
        "name": document.getElementById("name").innerText,
        "givenName": document.getElementById("givenName").innerText,
        "familyName": document.getElementById("familyName").innerText
    }

    function editProperty(id) {
        const paragraphe = document.getElementById(id)
        const bouton = document.getElementById(id + "-btn")
        const input = document.createElement('input');
        input.type = 'text';
        input.value = paragraphe.textContent;
        input.id = id;
        paragraphe.parentNode.replaceChild(input, paragraphe);
        bouton.onclick = function() {
            validateProperty(id);
        };
        bouton.innerText = "Valider"
    }

    function validateProperty(id) {
        const input = document.getElementById(id)
        const bouton = document.getElementById(id + "-btn")
        const paragraphe = document.createElement('p');
        paragraphe.innerText = input.value;
        paragraphe.id = id;
        input.parentNode.replaceChild(paragraphe, input);
        bouton.onclick = function() {
            editProperty(id);
        };
        bouton.innerText = "Modifier"
        if (attributs[id] !== input.value && !popupOpened) {
            showPopup().then((choice) => {
                console.log(`Choix: ${choice}`);
            });
        }
    }
    function showPopup() {
        return new Promise((resolve) => {
            popupOpened = true
            const popup = document.getElementById('popup');
            const buttonA = document.getElementById('buttonA');
            const buttonB = document.getElementById('buttonB');

            // Afficher la popup avec animation
            popup.classList.remove('hidden');
            popup.classList.add('slide-up', 'show');

            // Gestion des clics des boutons
            buttonA.onclick = () => {
                popup.classList.remove('show');
                resolve(true);
            };

            buttonB.onclick = () => {
                popup.classList.remove('show');
                resolve(false);
            };
        });
    }
</script>
</html>
